@import "../node_modules/normalize.css/normalize.css";
body,div,span{
  box-sizing:border-box;
  positon:relative;

  display:flex;
  flex-diretion:column;
  align-items: stretch;
  flex-shrink: 0;
  align-content:flex-start;

  border:0 solid black;
  margin:0;
  padding:0;

}
